<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="@{style.css}">
    <title>Gachi Rating 3000</title>
</head>
<body>
<h1 style="color: blueviolet">Gachi Rating 3000</h1>
<a href="/addGachi">Add new gachi music</a>
<h3>Here's all of your favourite gachi music:</h3>
<div th:each="gachi : ${gachiks}" style="background-color: antiquewhite">
    <hr>
    <h3 th:text="${gachi.getName()} + ' (' + ${gachi.getRating()} + ')'">Name (rating)</h3>
    <a th:href="${gachi.getUrl()}" href="">Enjoy the gachi</a>
</div>
</body>
</html>